<link rel="stylesheet" href="/catalog/view/javascript/pace/css/pace-font.css">
<div class="flex-column">
	<p class="logo align-self-center">Pace</p>
	<div 
		class="align-self-center" 
		id='pace-pay-widget-container' 
		data-price='{{price}}' 
		data-enabled='{{payment_pace_checkout_widget_status}}' 
		data-second="{{payment_pace_checkout_second_color}}" 
		data-primary="{{payment_pace_checkout_primary_color}}" 
		data-timeline="{{payment_pace_checkout_text_timeline_color}}" 
		data-background="{{payment_pace_checkout_background_color}}" 
		data-foreground="{{payment_pace_checkout_foreground_color}}" 
		data-fontsize="{{payment_pace_checkout_fontsize}}"/>
	<div class="buttons">
		<div class="pull-right">
			<input 
				id="button-confirm" 
				type="button" 
				value="{{ button_confirm }}" 
				data-loading-text="{{ text_loading }}" 
				class="btn btn-primary"/>
			<div class="checkout-transaction"></div>
		</div>
	</div>
</div>
<script defer src="https://pay-playground.pacenow.co/pace-pay.js"></script>
<script src="/catalog/view/javascript/opencart/opencart.js"></script>
<script type="text/javascript">
	window.pace_widget.show_checkout_widget();
$('#button-confirm').on('click', function () {
$.ajax({
url: 'index.php?route=extension/payment/pace_checkout/confirm',
dataType: 'json',
beforeSend: function () {
$('#button-confirm').button('loading');
},
complete: function () {
$('#button-confirm').button('reset');
},
success: function (json) {
$('.alert-dismissible, .text-danger').remove();
$('.form-group').removeClass('has-error');
if (json.error) {
$('#button-confirm').button('reset');
$('#collapse-checkout-confirm .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json.error + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
$('.text-danger').parent().addClass('has-error');
} else {
var txnToken = json.data ? json.data.token : json.token;
switch (json.pace_mode) {
case "1":
pacePay.popup({
txnToken: txnToken,
onSuccess: function (data) { // Update order status based on Pace transaction
updateOrderStatus({order_id: json.order_id, status: json.pace_approved});

if (json['redirect_success']) {
window.location.href = json['redirect_success'];
}
},
onCancel: function () {
if (json['redirect_failure']) {
window.location.href = json['redirect_failure'];
}
},
onLoad: function () {
pacePay.hideProgressModal();
}
});
break;
case "2":
pacePay.redirect(json.token);
break;
}
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
});

/**
     * Update order status after processing Pace transaction
     * @param  {object} result   Pace transaction object result
     */
var updateOrderStatus = function (result) {
$.ajax({
url: 'index.php?route=extension/payment/pace_checkout/updateOrderStatus&orderID=' + result.order_id + '&status=' + result.status,
type: 'GET',
success: function (xfn) {
console.log(xfn);
},
async: false
});
}
</script>
